@CHARSET "UTF-8";
.fm{
	margin: 0;
	padding: 10px 30px;
}
.ftitle{
	font-size: 14px;
	font-weight: bold;
	color: #666;
	border-bottom: 1px solid #ccc;
}
.fitem{
    padding-top: 10px;
    padding-left: 5px;
}
.fitem label{
	font-size: 12px;
	display: inline-block;
}

.fitem input{
    width: 140px;
}

.fitem select{
    width: 120px;
}

.fm td {
    white-space: nowrap;
}