.tt-inner{
    display:inline-block;
    line-height:12px;
    padding-top:5px;
}
.tt-inner img{
    border:0;
}
.tabs-inner {
    text-align: center !important;
}
.full-inside-container {
    position: absolute !important;
    width: 100%;
    height: 100%;
}
.condition-label {
    vertical-align: middle;
    font-size: 14px;
    margin-left: 15px;
}